.EditCardContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.EditUserActivityCard {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#activity-notes {
  width: 80%;
  margin-right: 0px;
}