.user-activity-card {
  margin: 5px;
  padding: 5px;
}
.scoreboard-card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.scoreboard-user-image {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.image-and-name-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%
}

.activity-and-date-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.points-and-label-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

@media only screen and (max-width: 800px) {
  .scoreboard-card-body {
    flex-direction: column;
  }
  .image-and-name-container {
    width: 50%;
  }
  .points-and-label-container {
    flex-direction: row;
  }
  .scoreboard-activity-points-value {
    margin-right: 5px;
  }
}