@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

.join-header {
  font-family: 'Varela Round', sans-serif;
  color: white;
}

.newUserFormLabel {
  color: white;
}

.NewUserPage {
  display: flex;
  flex-direction: column;
}