@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

.scoreboardLabel {
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Varela Round', sans-serif;
}