@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

.loginAuth {
  font-family: 'Varela Round', sans-serif;
  color: whitesmoke;
}

.loginBtn {
  background-color: #90C2E7;
  color: white;
  margin-right: 10px;
}

.createAccountBtn {
  background-color: #4E8098;
  color: white;
}

.taglineAuth {
  // font-family: 'Varela Round', sans-serif;
  font-style: italic;
  color: whitesmoke;
}

.authFormLabels {
  color: whitesmoke;
}