@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

.NewUserActivity {
  color: whitesmoke;
  align-items: center;
  justify-content: center;
}

.add-activity-page-title {
  font-family: 'Varela Round', sans-serif;
}

.new-activity-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.cancelAddNewActivity {
  background-color: rgb(153, 151, 151);
  margin-top: 10px;
}

.saveAddNewActivity {
  background-color: #00A9A5;
}