@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

.NewUserActivity {
  color: whitesmoke;
}

.add-activity-page-title {
  font-family: 'Varela Round', sans-serif;
}

.new-activity-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}